# Demographic Vs Employement Correlation [Data Analysis Project]

### Importing the necessary modules

In [16]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

data_path = 'adult_data.csv'
df = pd.read_csv(data_path)
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

### How many people of each race are represented in this dataset?

In [3]:

whites = df.race[df.race == 'White'].count()
blacks = df.race[df.race == 'Black'].count()
total = whites + blacks

whites_percentage = whites * 100 / total
blacks_percentage = blacks * 100 / total

# ANSI escape code for bold text
bold_start = '\033[1m'
bold_end = '\033[0m'

# Print the result with bold percentages and thousands separator
print(f"In {bold_start} {total:,} {bold_end} people, there are {bold_start}{whites_percentage:,.1f}% {bold_end} whites and {bold_start}{blacks_percentage:,.1f}%{bold_end} blacks, \nwhich means {whites:,} whites and {blacks:,} blacks")

In  30,940  people, there are 89.9%  whites and 10.1% blacks,
which means 27,816 whites and 3,124 blacks

### What is the average age of men?

In [4]:
Males_average_age = df.age[df.sex == 'Male'].mean()
print("The average age of men is", f" {bold_start} {Males_average_age: .1f} {bold_end} years.")

The average age of men is    39.4  years.

### What is the percentage of people who have a Bachelor's degree?

In [5]:
total_people = df.shape[0]
people_with_bachelors = df.education[df.education == 'Bachelors'].size
percentage_with_bachelors = people_with_bachelors*100/total_people

print(f"There are {bold_start} {people_with_bachelors: ,} {bold_end} people who have bachelors \n among a populations of {bold_start} {total_people: ,} {bold_end} people")
print(f"The percentage of people who have bachelors degree is {bold_start} {percentage_with_bachelors: .1f} % {bold_end}")

There are   5,355  people who have bachelors
 among a populations of   32,561  people
The percentage of people who have bachelors degree is   16.4 %

### What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [6]:
people_with_advanced_education = df.education[df.education.isin(['Bachelors', 'Masters', 'Doctorate'])]
total_people_with_advanced_education = df.education[df.education.isin(['Bachelors', 'Masters', 'Doctorate'])].shape[0]

advanced_education_Over50K = people_with_advanced_education[df.salary == '>50K'].shape[0]
percentage_make_Over50k = advanced_education_Over50K * 100/total_people_with_advanced_education

print(f"In {bold_start} {total_people_with_advanced_education: ,} {bold_end} people with advanced education, \n there are {bold_start} {advanced_education_Over50K: ,} {bold_end} who make more than 50K")
print(f"That means there are {bold_start} {percentage_make_Over50k: .1f} {bold_end}% who make over 50K")

In   7,491  people with advanced education,
 there are   3,486  who make more than 50K
That means there are   46.5 % who make over 50K

In [7]:
people_make_over50K = df.salary[df.salary == '>50K'].shape[0]
percentage_over50k_to_advanced_education = total_people_with_advanced_education * 100/people_make_over50K

print(f"In {bold_start} {people_make_over50K: ,} {bold_end} who make over 50K, \n {bold_start} {percentage_over50k_to_advanced_education: .1f}%{bold_end} have advanced education")

In   7,841  who make over 50K,
   95.5% have advanced education

### What percentage of people without advanced education make more than 50K?

In [8]:
people_without_advanced_education = df.education[~df.education.isin(['Bachelors', 'Masters', 'Doctorate'])]
without_advancEd_make_over50K = people_without_advanced_education[df.salary == '>50K']

number_people_without_advanced_education = df.education[~df.education.isin(['Bachelors', 'Masters', 'Doctorate'])].shape[0]
number_without_advancEd_make_over50K = people_without_advanced_education[df.salary == '>50K'].shape[0]

percent_without_advancEd_make_over50K = number_without_advancEd_make_over50K * 100/number_people_without_advanced_education

print(f"Among {bold_start}{number_people_without_advanced_education: ,} {bold_end} people without advanced education, \n there are {bold_start}{number_without_advancEd_make_over50K: ,} {bold_end} who make over 50K, meaning {bold_start}{percent_without_advancEd_make_over50K: .1f}% {bold_end}")

Among  25,070  people without advanced education,
 there are  4,355  who make over 50K, meaning  17.4%

### What is the minimum number of hours a person works per week?

In [9]:
df.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [10]:
minimum_hours_perWeek = df["hours-per-week"].min()

print(f"A person can work for a minimum of {bold_start}{minimum_hours_perWeek} {bold_end} hour(s) per week")

A person can work for a minimum of 1  hour(s) per week

### What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [11]:
MinHoursPerWeek = df["hours-per-week"].min()
people_min_hours_per_week = df[df["hours-per-week"] == MinHoursPerWeek]
min_hours_with_over50K = people_min_hours_per_week[people_min_hours_per_week.salary == '>50K']

Npeople_min_hours_per_week = people_min_hours_per_week.shape[0]
Npeople_min_hours_over50K = min_hours_with_over50K.shape[0]

percent_minHours_make_over50K = Npeople_min_hours_over50K * 100/ Npeople_min_hours_per_week

print(f"The percentage of people who work minimum number of hours per week \n have a salary of more than 50K is {bold_start} {percent_minHours_make_over50K: .1f}%{bold_end}")
print(f"It's {bold_start}{Npeople_min_hours_over50K} {bold_end} people who earn over 50K in {bold_start} {Npeople_min_hours_per_week} {bold_end} people who work minimum hours per week")

The percentage of people who work minimum number of hours per week
 have a salary of more than 50K is   10.0%
It's 2  people who earn over 50K in  20  people who work minimum hours per week

### What country has the highest percentage of people that earn >50K and what is that percentage?

In [12]:
earn_over_50K = df[df['salary'] == '>50K']

earn_over_50K_byCountry = earn_over_50K['native-country'].value_counts()
total_people_by_country = df['native-country'].value_counts()

percent_over_50K_by_country = (earn_over_50K_byCountry/total_people_by_country)*100
highest_percentage = percent_over_50K_by_country.max()
country_with_highest_percentage = percent_over_50K_by_country.idxmax()

print(f" The country with highest percentage is {bold_start}{country_with_highest_percentage}{bold_end}, with {bold_start}{highest_percentage: .1f} %{bold_end} of people making over 50K.")

 The country with highest percentage is Iran, with  41.9 % of people making over 50K.

### Identifying the most popular occupation for those who earn >50K in India.

In [13]:
people_from_India = df[df['native-country'] == 'India']
indian_with_over_50K = people_from_India[people_from_India['salary'] == '>50K']
indian_with_over_50K_occupation = indian_with_over_50K['occupation'].value_counts()

IndianMostPopularOccupation_earn_over_50K = indian_with_over_50K_occupation.idxmax()

print(f"The most popular occupation in India that make over 50K is {bold_start}{IndianMostPopularOccupation_earn_over_50K}{bold_end}")

The most popular occupation in India that make over 50K is Prof-specialty